<div class="accordion-left">
  <mat-accordion>
    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Languages</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <p>Fluent <strong><span class="default-highlight">English</span></strong></p>
        <p>Native <strong><span class="default-highlight">Hindi</span></strong></p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>University</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <p>2022 - DTU - <strong><span class="default-highlight">Computer Engineering</span></strong> - Bachelor's Degree</p>
        <ul>
          <li>Final Project | Ensemble learning approach for diseases prediction based on symptoms</li>
        </ul>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Certifications</mat-panel-title>
      </mat-expansion-panel-header>
      
      <div class="certification-cards">
        <!-- Card 1 -->
        <div class="certification-card">
          <div class="certification-image">
            <img src="../../assets/gcp.png" alt="GCP Certification">
          </div>
          <div class="certification-info">
            <h3>Google Cloud Platform Technical Essentials</h3>
            <p class="issuer">Cloud Academy</p>
          </div>
        </div>
    
        <!-- Card 2 -->
        <div class="certification-card">
          <div class="certification-image">
            <img src="../../assets/stats.png" alt="Basic Statistics Certification">
          </div>
          <div class="certification-info">
            <h3>Basic Statistics</h3>
            <p class="issuer">University of Amsterdam (Coursera)</p>
          </div>
        </div>
      
        <!-- Card 3 -->
        <div class="certification-card">
          <div class="certification-image">
            <img src="../../assets/bayesianML.png" alt="Bayesian Methods for Machine Learning Certification">
          </div>
          <div class="certification-info">
            <h3>Bayesian Methods for Machine Learning</h3>
            <p class="issuer">National Research University (Coursera)</p>
          </div>
        </div>

        <!-- Card 4 -->
        <div class="certification-card">
          <div class="certification-image">
            <img src="../../assets/sql.png" alt="Advance SQL Certification">
          </div>
          <div class="certification-info">
            <h3>Advance SQL</h3>
            <p class="issuer">Hackerrank</p>
          </div>
        </div>

        <!-- Card 5 -->
        <div class="certification-card">
          <div class="certification-image">
            <img src="../../assets/tensorflow.png" alt="Tensorflow Developer Certification">
          </div>
          <div class="certification-info">
            <h3>Tensorflow Developer</h3>
            <p class="issuer">Udemy</p>
          </div>
        </div>
      
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Techs I Used</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="tech-board">
        <div class="tech-cell">
          <i class="devicon-java-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-spring-original-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-mysql-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-sqlite-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-c-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-cplusplus-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-linux-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-ubuntu-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-pytorch-plain colored"></i>
        </div>
        <div class="tech-cell">
          <img src="https://icongr.am/simple/tensorflow.svg?color=ffffff&colored=false" 
       alt="Tensorflow" 
       class="icon colored" />
        </div>
        <div class="tech-cell">
          <img src="https://icongr.am/simple/tableau.svg?color=ffffff&colored=false" 
       alt="Tableau" 
       class="icon colored" />
        </div>
        <div class="tech-cell">
          <i class="devicon-angular-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-typescript-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-javascript-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-html5-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-css3-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-bootstrap-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-python-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-selenium-original colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-googlecloud-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-docker-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-kubernetes-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-git-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-github-original colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-vscode-plain colored"></i>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>