<div class="accordion-left">
  <mat-accordion>
    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Languages</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <p>Fluent <strong><span class="default-highlight">English</span></strong></p>
        <p>Native <strong><span class="default-highlight">Hindi</span></strong></p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>University</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <p>2022 - DTU - <strong><span class="default-highlight">Computer Engineering</span></strong> - Bachelor's Degree</p>
        <ul>
          <li>Final Project | Ensemble learning approach for diseases prediction based on symptoms</li>
        </ul>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Experience</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <div class="experience-card">
          <p><strong>June 2022 – July 2024</strong> | <span class="default-highlight">Mphasis Pvt. Ltd.</span> — <em>Software Engineer</em></p>
          <ul>
            <li>Developed and maintained scalable software applications using Java and SQL, improving system performance by 25%.</li>
            <li>Contributed to frontend enhancement of an internal e-commerce system using Angular and Bootstrap, reducing load time by ~2 seconds.</li>
            <li>Authored 50+ pages of internal documentation, reducing new hire onboarding time by 40%.</li>
            <li>Resolved 100+ internal technical issues with a >95% SLA compliance rate.</li>
            <li>Participated in frequent code reviews, ensuring code quality and architectural consistency.</li>
          </ul>
        </div>
        <div class="experience-card">
          <p><strong>June 2021 – Dec 2021</strong> | <span class="default-highlight">Delhi Technological University</span> — <em>Software Engineering Intern</em></p>
          <ul>
            <li>Co-developed an in-house COVID-19 vaccination notification app prototype with a partner as part of an academic project.</li>
            <li>Implemented ML models achieving 92% prediction accuracy for slot availability on internal datasets.</li>
            <li>Designed features like location-based alerts, booking simulation, and educational content integration.</li>
            <li>Built using Python, scikit-learn, and Android Studio; followed agile-like weekly iteration cycles.</li>
            <li>Project served as a proof of concept and was used only in an internal academic setting.</li>
          </ul>
        </div>
      </div>
    </mat-expansion-panel>
    

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Certifications</mat-panel-title>
      </mat-expansion-panel-header>
      
      <div class="certification-cards">
        <!-- Card 1 -->
        <div class="certification-card">
          <div class="certification-image">
            <img src="../../assets/gcp.png" alt="GCP Certification">
          </div>
          <div class="certification-info">
            <h3>Google Cloud Platform Technical Essentials</h3>
            <p class="issuer">Cloud Academy</p>
          </div>
        </div>
    
        <!-- Card 2 -->
        <div class="certification-card">
          <div class="certification-image">
            <img src="../../assets/stats.png" alt="Basic Statistics Certification">
          </div>
          <div class="certification-info">
            <h3>Basic Statistics</h3>
            <p class="issuer">University of Amsterdam (Coursera)</p>
          </div>
        </div>
      
        <!-- Card 3 -->
        <div class="certification-card">
          <div class="certification-image">
            <img src="../../assets/bayesianML.png" alt="Bayesian Methods for Machine Learning Certification">
          </div>
          <div class="certification-info">
            <h3>Bayesian Methods for Machine Learning</h3>
            <p class="issuer">National Research University (Coursera)</p>
          </div>
        </div>

        <!-- Card 4 -->
        <div class="certification-card">
          <div class="certification-image">
            <img src="../../assets/sql.png" alt="Advance SQL Certification">
          </div>
          <div class="certification-info">
            <h3>Advance SQL</h3>
            <p class="issuer">Hackerrank</p>
          </div>
        </div>

        <!-- Card 5 -->
        <div class="certification-card">
          <div class="certification-image">
            <img src="../../assets/tensorflow.png" alt="Tensorflow Developer Certification">
          </div>
          <div class="certification-info">
            <h3>Tensorflow Developer</h3>
            <p class="issuer">Udemy</p>
          </div>
        </div>
      
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Techs I Used</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="tech-board">
        <div class="tech-cell">
          <i class="devicon-java-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-spring-original-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-mysql-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-sqlite-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-c-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-cplusplus-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-linux-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-ubuntu-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-pytorch-plain colored"></i>
        </div>
        <div class="tech-cell">
          <img src="https://icongr.am/simple/tensorflow.svg?color=ffffff&colored=false" 
       alt="Tensorflow" 
       class="icon colored" />
        </div>
        <div class="tech-cell">
          <img src="https://icongr.am/simple/tableau.svg?color=ffffff&colored=false" 
       alt="Tableau" 
       class="icon colored" />
        </div>
        <div class="tech-cell">
          <i class="devicon-angular-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-typescript-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-javascript-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-html5-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-css3-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-bootstrap-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-python-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-selenium-original colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-googlecloud-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-docker-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-kubernetes-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-git-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-github-original colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-vscode-plain colored"></i>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>