<div class="align-items-center default-container">
    <div class="col-lg-8">
      <div class="text-left">
        <h1 class="home-title">Turning Ideas into Algorithms, and Algorithms into Impact</h1>
        <h2 class="home-author">Rahul Kumar , <span id="dynamic-text">{{ dynamicText }}</span></h2>
        <blockquote>
          A passionate computer scientist and data professional with 2+ years of experience . As a DTU alumnus (B.Tech CS '22) and Kaggle Expert, I specialize in transforming complex data into actionable insights through machine learning and deep learning.
        </blockquote>
        <button>
            <a routerLink="/portfolio"  class="a-green">
                > Check Projects
            </a>
        </button>
      </div>
    </div>
  </div>
  